<div id="regist-wrap">
<div class="row" style="background-color: white">
  <div class="col-md-6" >
    <%= image_tag 'yt_simbol.png', :size => "300x300" %>
  </div>

  <div class="col-md-6" id="regist-input" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal',  :role => "form"}) do |f| %>
      <%= devise_error_messages! %>
      <br><br>
      <div class="form-group">
        <label for="user_student_id" class="col-lg-3 control-label">
          <p>학번</p>
        </label>
        <div class="col-lg-8">
          <input id="use  r_student_id" name="user[student_id]" type="text" class="form-control" placeholder="학번" />
        </div>
      </div>

      <div class="form-group">
        <label for="user_password" class="col-lg-3 control-label">
          <p>비밀번호</p>
        </label>
        <div class="col-lg-8">
          <input autocomplete="off" id="user_password" name="user[password]" type="password" class="form-control" placeholder="비밀번호 (8 글자 이상)" />
        </div>
      </div>

      <div class="form-group">
        <label for="user_password_confirmation" class="col-lg-3 control-label">
          <p>비밀번호 확인</p>
        </label>
        <div class="col-lg-8">
          <input autocomplete="off" id="user_password_confirmation" name="user[password_confirmation]" type="password" class="form-control" placeholder="비밀번호 확인"/>
        </div>
      </div>

      <div class="form-group">
        <label for="user_name" class="col-lg-3 control-label">
          <p>이름</p>
        </label>
        <div class="col-lg-8">
          <input id="user_name" name="user[user_name]" type="text" class="form-control" placeholder="이름" />
        </div>
      </div>

      <div class="form-group">
        <label for="user_email" class="col-lg-3 control-label">
          <p>E-mail</p>
        </label>
        <div class="col-lg-8">
          <input id="user_email" name="user[email]" type="email" class="form-control" placeholder="E-mail" />
        </div>
      </div>

      <div class="form-group">
        <label for="user_role" class="col-lg-3 control-label">
          <p>직책</p>
        </label>

        <div class="col-lg-8">
          <div class="radio" style="text-align: center">
            <label style="padding-right: 20px">
              <input type="radio" name="user[role]" id="user_role" value="student" checked>
              학생
            </label>
          
            <label>
              <input type="radio" name="user[role]" id="user_role" value="ta">
              조교
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10" style="text-align: right">
          <input class="btn btn-info btn-lg " name="commit" type="submit" value="가입하기" style="font-size: 20px" />
          
          <p class="help-block" style="padding: 5px" >
            가입 신청이 완료되면 관리자의 승인 후 서비스의 이용이 가능합니다.
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>