<div class="field">
    <%= comment.user_id %><br />
    <%= comment.body %>
</div>

<% if comment.user == current_user %>

  <%= link_to 'Destroy Comment', [comment.project, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

<% end %>