<div class="field">
    <%= User.find(comment.user_id).user_name %><br />
    <%= comment.body %><br />
</div>

<% if comment.user == current_user %>

  <%= link_to 'Destroy Comment', [comment.project, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

<% end %>