<%= form_for([@project, @project.comments.build]) do |f| %>
	<div class="col-md-1" style="text-align:left"><strong>
		<font color = "green"> 
			<%= current_user.user_name %></strong>
		</font>
	</div>
	<div class="form-group">
  <div class="col-md-9">
  	<input class="form-control" id="comment_body" name="comment[body]"></input>
  </div>
  <div class="actions">
    <%= f.submit "댓글 달기", class: "btn btn-default" %>
  </div>
<% end %>
