<%= form_for([@project, @project.comments.build]) do |f| %>
	<div class="col-md-1" style="text-align:left"><strong>
		<font color = "green"> 
			<%= current_user.user_name %></strong>
		</font>
	</div>
  <div class="col-md-11">
  	<div class="input-group">
  	<input class="form-control" id="comment_body" name="comment[body]" placeholder="댓글을 입력하세요...">
  	<span class="input-group-btn">
        <button class="btn btn-default" type="submit">댓글 달기</button>
      </span>
  </div>
  <div class="col-md-2">
<% end %>
