<%= flash[:error] %>

<h1>홈 화면</h1>

<h2> <%= button_to "Directory", directories_path, :class => "btn btn-primary" %> </h2>


<p> 자 이제 시작이야 (내꿈을)</p>
<p> 내꿈을 위한 여행 (피카츄)</p>
<p> 걱정따윈 없어 (없어)</p>
<p> 내친구랑 함께니까 (피카피카)</p>
<p> 처음 시작은 어색할지도 몰라 (몰라)</p>
<p> 내친구 피카츄</p>
<p> 날 지켜 줄거라고 믿고 있어 </p>
<p> 누구라도 얕보다간 큰일나</p>
<p> 언제나 어디서나 피카츄가 옆에있어 </p>
<p> 약할 때나 강할 때나 피카츄가 옆에있어</p>
<p> 너와 나 함께라면 우린최고야</p>
<p> 언제언제까지나 진실한 마음으로 </p>
<p> 언제언제 까지나그날을 위해</p>
<p> 피카츄</p>