<!-- new와 마찬가지로 projects_controller의 create로 Parameter를 전달한다 -->
<!-- 상위 프로젝트의 ID를 유지하는 것 이외엔 같은 Logic이다.-->
<div id="page-wrap" >
	<h1>Commit to</h1>
	<%= @parent.project_name %>
	<%= render 'form' %>
</div>
