<h1>프로젝트 만들기</h1>

<%= render 'form' %>
<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%= link_to 'Back', directory_homework_projects_path(@directory_homework) %>-->
