<h1> <font color = "sky blue"> <%= @search %> </font> 에 대한 프로젝트 검색 결과입니다.</h1>

<br>
  <table class="table table-condensed">
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.project_name, project_project_show_path(project) %></td>

        <% if current_user.id == project.user_id %>
          <td>[<%= link_to 'Edit', project_project_edit_path(project) %>/
          <%= link_to 'Destroy', project_project_destroy_path(project.id), method: :delete, data: { confirm: 'Are you sure?' } %>]</td>
        <% end %>
      </tr>
    <% end %>
  </table>

