// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
body { 
    padding-top: 80px;
    background-color: white;
}
 
::-webkit-input-placeholder {
   color: #808080;
   text-align: center;
 
}
 
:-moz-placeholder {
   color: #808080;
   text-align: center;
}

#page-wrap {
     width: 900px;
     margin: 0 auto;
}

#regist-wrap {
     width: 1000px;
     margin: 0 auto;
}

#regist-input {
     width: 500px;
}

#project-file {
  height: 60px;
  text-overflow: clip;
  word-break: break-all;
}

#page-wrap-project {
     width: 1000px;
     margin: 0 auto;
     padding: 10px
}

#page-wrap-home {
     width: 1200px;
     margin: 0 auto;
     padding: 10px
}

/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*CSS Yahoo new version style pagination*/
  nav.pagination {
    padding: 3px;
    margin: 3px;
    text-align:center;
    font-family:Tahoma,Helvetica,sans-serif;
    font-size:.85em;
  }
  
  nav.pagination a {
    border: 1px solid #ccdbe4;
    margin-right:3px;
    padding:2px 8px;

    background-position:bottom;
    text-decoration: none;

    color: #0061de;   
  }
  nav.pagination a:hover, nav.pagination a:active {
    border: 1px solid #2b55af;
    background-image:none;
    background-color:#3666d4;
    color: #fff;
  }
  nav.pagination span.current {
    margin-right:3px;
    padding:2px 6px;
    
    font-weight: bold;
    color: #000;
  }
  nav.pagination span.disabled {
    display:none;
  }
  nav.pagination a.next{
    border:2px solid #ccdbe4;
    margin:0 0 0 10px;
  }
  nav.pagination a.next:hover{
    border:2px solid #2b55af;
  }
  nav.pagination a.prev{
    border:2px solid #ccdbe4;
    margin:0 10px 0 0;
  }
  nav.pagination a.prev:hover{
    border:2px solid #2b55af;
  }