// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
body { 
    padding-top: 80px;
    background-color: white;
}
 
::-webkit-input-placeholder {
   color: #808080;
   text-align: center;
 
}
 
:-moz-placeholder {
   color: #808080;
   text-align: center;
}

#page-wrap {
     width: 900px;
     margin: 0 auto;
}

#regist-wrap {
     width: 1000px;
     margin: 0 auto;
}

#regist-input {
     width: 500px;
}

#project-file {
  height: 60px;
  text-overflow: clip;
  word-break: break-all;
}